.selectorButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}


.selectorButtonsContainer button {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
}

.selectorButtonsContainer button:hover {
    border: 1px solid black;
}

.selectorButtonsContainer button:focus{
    outline: none;
}

.selectorButtonsContainer button.selected{
    border: 2px solid #538CEE;
}

.selectorButtonsContainer button.variantButton{
    width: 50px;
    height: 50px;
}