.selectorButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}
.selectorButtons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
button.selectionSubmit {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.selectorButtonsContainer button {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
}

.selectorButtonsContainer button:hover {
    border: 1px solid black;
}

.selectorButtonsContainer button:focus{
    outline: none;
}

.selectorButtonsContainer button.selected{
    border: 2px solid #538CEE;
}

.selectorButtonsContainer button.variantButton{
    width: 50px;
    height: 50px;
}

.selectorButtonsContainer button.variantButton {
    max-width: 100px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
   font-size: 12px;
}