.quantitySelector {
  border: 2px solid #d3399a;
  width: max-content;
  margin-top: 32px;
  background: white;
  color: rgba(0, 0, 0, 0.6);
  font-family: Poppins;
  font-size: 13px;
}



.quantitySelector button,
.quantitySelector input {
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.quantitySelector button {
  width: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.quantitySelector input {
  width: 50px;
  color: rgba(0, 0, 0, 0.7);
}

.quantitySelector button:focus-visible,.quantitySelector button:focus {
  outline: none;
}
