.collectionsList {
    /* display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center; */


    display: grid;
    grid-template-columns: repeat(5,20%);
    row-gap: 10px;
    column-gap: 10px;
    

}
.coll-card {
    overflow: hidden;
    max-width: 275px;
    flex: 0 0 18%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px #0003, 0 0 0 #2d94e5f0;
    display: flex;
    flex-direction: column-reverse;
    height: 350px;
    max-height: 350px;
}
.collInfo {
    padding: 11px;
    background: #000000c4;
    color: white;
}
.collInfo .description {
    font-size: 23px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.coll-title {
    font-size: 20px;
    font-weight: 500;
}

.coll-image {
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    height: 91%;
}
.coll-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}



@media (max-width : 767px){
    .collectionsList {
        display: grid;
        grid-template-columns: repeat(2,50%);
        justify-content: space-between;
    }
}
@media (max-width : 420px){
    .collectionsList {
        display: grid;
        grid-template-columns: repeat(1,100%);
        justify-content: space-between;
    }
}

@media (min-width: 768px ) and  (max-width : 1200px){
    .collectionsList {
        display: grid;
        grid-template-columns: repeat(3,33%);
        justify-content: space-between;
    }
}