.cartPage {
    padding-top: 50px;
    display: flex;
    gap: 20px;
}
.cartItems {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    flex: 0 0 55%;
}
.cartItem{
    display: flex;
    box-shadow: 0 1px 6px #0003, 0 0 0 #2d94e5f0;
    position: relative;
    gap: 20px;
    background: #dbc6e1;
    padding: 10px;
    max-height: 200px;
}
.cartItemInfo{
    flex: 0 0 70%;
}
.cartItemMedia {
    flex: 0 0 30%;
    width: 100%;
    margin: auto;
    height: 100%;
   
}
.cartItemImage {
    overflow: hidden;
    margin: auto;
    cursor: pointer;
    height: 100%;
}
.cartItemImage img {
    width: 100%;
    /* max-height: 200px;
    height: 100%; */
    border-radius: 9px;
    height: 100%;
}

.productVendor {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}
.cartItemTitle {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;

}

.infoContent {
    width: 60%;
    padding: 22px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.itemPriceContainer {
    display: flex;
    gap: 20px;
    font-size: 16px;
}
span.itemPrice {
    font-weight: 500;
}
span.itemComparePrice {
    color: rgba(0,0,0,0.5);
    text-decoration: line-through;
}
button.quantityUpdateButton {
    padding: 4px 10px;
    background: #f5f5f6;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

button.quantityUpdateButton:focus-visible {
 outline: none;
}

.cartLineItemQuantityAndVariantContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

button.variantChangeButton {
    padding: 0;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    background: #f5f5f6;
    color: black;
}

.singleVariantItem {
    font-weight: 500;
}



.totalItemLineCost {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.totalItemLineCost .totalAmount{
    font-weight: 500;
}

.cartRightPanel {
    text-align: left;
    box-shadow: 0 1px 6px #0003, 0 0 0 #2d94e5f0;
    padding: 10px;
    height: max-content;
    background-color: #dbc6e1;
    flex: 0 0 40%;
}


@media (max-width : 767px){
    .cartPage {
        flex-direction: column-reverse;
    }
}