.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
}
.loader.show{
    display: block;
}
.loaderContainer{
    width: 43px;
}
.loaderContainer svg{
    width: 100%;
}