.productInfo{
    text-align: left;
    line-height: 27px;
}

.prodVendor {
    font-size: 18px;
    font-weight: 600;
}

span.comparePrice {
    text-decoration: line-through;
    color: #545454;
}

.priceContainer {
    display: flex;
    gap: 13px;
    font-size: 20px;
}

.productFormButtons {
    margin-top: 30px;
}

.productInfo {
    flex: 0 0 48%;
    width: 48%;
}

.productDescription {
    margin-top: 26px;
}

.contentTitle {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #ceb9b9;
}

.outOfStockLabel {
    background: black;
    color: white;
    width: max-content;
    padding: 5px 12px;
    margin-top: 12px;
    border-radius: 6px;
    font-size: 17px;
}

@media (max-width : 767px){
    .productMain{
        flex-direction: column;
        width: 100%;
    }
    .productInfo {
        flex: 0 0 100%;
        width: 100%;
    }
    .productPage .mediaContainer{
        flex: 0 0 100%;
        width: 100%;
        justify-content: center;
    }
}