.filterBox.show {
    display: block;
    border: 1px solid #538CEE;
}

.filterBox{
    display: none;
    height: auto;
    padding: 10px 5px;
}

button.filterLabelButton {
    background: white;
    color: black;
    border: 1px solid #538CEE;
    border-radius: unset;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

}
.filterLabelButton:focus{
    border: 1px solid #538CEE;
    outline: none;
}

.inputRange input {
    background: white;
    color: black;
    font-size: 14px;
    max-width: 47px;
    border: none;
    margin-left: 3px;
}

